[Unit]
Description=post battle data to stat.ink
After=network.target

[Service]
WorkingDirectory=
ExecStart=python splatnet2statink.py -M 120 -r
ExecStop=/bin/kill -WINCH ${MAINPID}
Type=simple

[Install]
WantedBy=multi-user.target
