[Unit]
Description=iksm proxy server
After=network.target

[Service]
User=root
WorkingDirectory=/Users/SeiyaTakei/Programs/Python/git/iksmproxy
ExecStart=/usr/bin/python main.py
ExecStop=/bin/kill -WINCH ${MAINPID}
Type=simple

[Install]
WantedBy=multi-user.target
