[Unit]
Description=post battle data to stat.ink
After=network.target

[Service]
User=root
WorkingDirectory=/Users/SeiyaTakei/Programs/Python/git/splatnet2statink
ExecStart=/usr/bin/python splatnet2statink.py -M 120 -r
ExecStop=/bin/kill -WINCH ${MAINPID}
Type=simple

[Install]
WantedBy=multi-user.target
